DateTime==4.0.1
Django==1.6.5
Pillow==2.7.0
South==1.0.2
argparse==1.2.1
python-dateutil==2.3
pytz==2014.10
requests==2.5.1
six==1.8.0
stripe==1.19.1
wsgiref==0.1.2
zope.interface==4.1.2
dj-database-url==0.3.0
dj-static==0.0.6
gunicorn==19.1.1
psycopg2==2.5.1
static==0.4