{% extends "base.html" %}
{% load staticfiles %}

        {% block title %}{{ title }}{% endblock %}


{% block intro %}
<div class="container-fluid">
    <div class="row content-row">
        <div class="about-carousel">

            <div class="item col-md-4" style="height:100%;top:0;">
                  <button type="submit" name="selection" id="biz" value="{{ business.sub_style }}" style="height:100%; padding:0px; margin:0px;" >
                        <img alt="50x50" src="{{ business.picture.url }}" class="img-responsive" style=""/>
                            <div class="caption">
                                <div class="caption">
                                    <h3>Business</h3>
                                    <hr class="colored">
                                </div>
                            </div>
                    </button>
            </div>

            <div class="item col-md-4" style="height:100%;top:0;">
                  <button type="submit" name="selection" id="biz" value="{{ business.sub_style }}" style="height:100%; padding:0px; margin:0px;" >
                        <img alt="50x50" src="{{ business.picture.url }}" class="img-responsive" style=" "/>
                            <div class="caption">
                                <div class="caption">
                                    <h3>Business</h3>
                                    <hr class="colored">
                                </div>
                            </div>
                    </button>
            </div>

                        <div class="item col-md-4" style="height:100%;top:0;">
                  <button type="submit" name="selection" id="biz" value="{{ business.sub_style }}" style="height:100%; padding:0px; margin:0px;" >
                        <img alt="50x50" src="{{ business.picture.url }}" class="img-responsive" style=" "/>
                            <div class="caption">
                                <div class="caption">
                                    <h3>Business</h3>
                                    <hr class="colored">
                                </div>
                            </div>
                    </button>
            </div>

        </div>
    </div>
</div>

{% endblock %}