{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ title }}{% endblock %}


{% block nav %}

<nav class="navbar navbar-inverse navbar-fixed-top navbar-expanded" style="background:#000; padding:10px;">
        <div class="container" >
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="{% static "assets/img/logo/sockcess-tiny.png" %}" class="img-responsive" alt="">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <!--<ul class="nav navbar-nav navbar-right" id="sign-in-form">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>

                    <li>
                        <a href="/home">Home</a>
                    </li>

                    <li>
                        <a href="/logout">Logout</a>
                    </li>


                </ul>-->

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

{% endblock %}



{% block signup %}

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Forgot My Password</h2>
                    <hr class="colored">
                    <p>{{ message }}</p>
                    
                   
                </div>
            </div>
            
{% if form.errors %}
            
                <div class='col-sm-10 col-sm-offset-1'>
    {% for field in form %}
      
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="successful">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
            

            {% if messages %}

            <div class='row'>
                <div class='col-sm-6 col-sm-offset-3'>

                    {% for message in messages %}

                        <p{% if message.tags == "success" or message.tags == "error" %} class="successful"{% endif %}><b>{{ message }}</b></p>

                    {% endfor %}
                <br />
                <a href="/signup">Create Account</a>
                </div>
            </div>
            </div>

           {% endif %}

           {% if form.errors %}
            
                <div class='col-sm-10 col-sm-offset-1'>
    {% for field in form %}
      
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="successful">
            <strong>{{ error|escape }}</strong>
        </div>
        <a href="/signup">Create Account</a>
    {% endfor %}

    </div>
{% endif %}
            <div class="row content-row">
                <div class="col-lg-8 col-lg-offset-2">
                    <form name="sentMessage" id="contactForm" method="POST" novalidate> {% csrf_token %}
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Email Address</label>
                                {{ form.email }}
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                       
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-outline-dark">Send my password</button>
                                
                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}





