{% extends "basehome.html" %}
{% load staticfiles %}

{% block title %}{{ title }}{% endblock %}

{% block nav %}

    <nav class="navbar navbar-inverse navbar-fixed-top navbar-expanded">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">
                    <img src="{% static "assets/img/logo/sockcess-tiny.png" %}" class="img-responsive" alt="">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right" id="sign-in-form">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>

                    <li>
                        <a href="/myaccount">My Account</a>
                    </li>

                    <li>
                        <a href="/logout">Logout</a>
                    </li>


                </ul>

            </div>

           
            <!-- /.navbar-collapse --> 
            {% if messages %}

            <div class='col-xs-10 col-xs-offset-1'>
                

                    {% for message in messages %}

                        <p{% if message.tags == "success" %} class="successful"{% endif %} style="content:text-center;"><b>{{ message }}</b></p>

                    {% endfor %}

                
            </div>
            

           {% endif %}
        </div>
        <!-- /.container -->
    </nav>

{% endblock %}

{% block filler %}

{% if rando %}
    <aside class="cta-quote" style="background: url('{% static 'assets/img/mystery sock-2.jpg' %}' ); background-size 100% 100%;">   
{% else %} 
    <aside class="cta-quote" style="background: url('{{ img.picture.url }}' ) no-repeat center center fixed; background-size:cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;">
{% endif %}
        <div class="container wow fadeIn">



                <!--<div class="col-xs-4 col-xs-offset-3">-->
               
                

                <div class="col-xs-6 col-xs-offset-3 " style="background-color:#000; opacity:0.8;border-radius:5px; padding:10px; ">
                    

                    {% if rando %}
                        <span class="brand-name-subtext"> Your current sock selection is <strong>{{ rando }}</strong></span>
                    {% else %}
                        <span class="brand-name-subtext"> Your current sock selection is <strong>{{ img.style }}</strong></span>
                    {% endif %}
                    
                    <hr class=" colored">
                    <a href="/changethatshit" class="btn btn-outline-light">CLICK HERE TO CHANGE</a>
                </div>
            
            </div>
    </aside>


{% endblock %}




{% block process %}

    <section id="process" class="services" >
        <div class="container">

            <div class="row text-center">
                <div class="col-lg-12 wow fadeIn">
                    <h2>The Sockcessful</h2>
                    <hr class="colored">
                    <p>Welcome Aboard. Your socks await you.</p>
                </div>
            </div>
            <div class="row content-row">
                <div class="col-md-4 wow fadeIn" data-wow-delay=".2s">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-check-square-o"></i>
                        </div>
                        <div class="media-body">
                        <h3 class="media-heading">My Last Orders</h3>
                            <ul>
                            {% for order in orders %}
                                <li>{{ order.sock_style }}</li>
                            {% endfor %}

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 wow fadeIn" data-wow-delay=".4s">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-smile-o"></i>
                        </div>
                        <div class="media-body">
                           <h3 class="media-heading">My Current Selection</h3>
                            <ul>
                                {% if rando %}
                                    <li>{{ rando }}</li>
                                {% else %}
                                    <li>{{ img.sub_style }}</li>
                                {% endif %}
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 wow fadeIn" data-wow-delay=".6s">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-truck"></i>
                        </div>
                        <div class="media-body">
                          <h3 class="media-heading">My Address</h3>
                            <ul>
                                <li>{{ address.street }}</li>
                                <li>{{ address.city }}</li>
                                <li>{{ address.state }}</li>
                                <li>{{ address.zipcode }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <br />
        <div class="col-md-12">
                <div class="col-md-4 col-md-offset-4 text-center">
       
        </div>
        </div>
        
    </section>

{% endblock %}



{% block footer %}
                
 <footer class="footer" style="background-image: url('{% static 'assets/img/bg-footer.jpg' %}' )">
        <div class="container text-center">
            <div class="row">
                
                <div class="col-md-6 contact-details">
                    <h4><i class="fa fa-map-marker"></i> Address</h4>
                    <p>Team Sockcess, 30 Clay St, Cambridge, MA, 02140</p>
                </div> 
                <div class="col-md-4 contact-details">
                    <h4><i class="fa fa-envelope"></i> Email</h4>
                    <p><a href="mailto:ass@aol.com">info@besockcessful.com</a>
                    </p>
                </div>
            </div>
            <div class="row social">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li><a href="https://www.facebook.com/pages/SockCess/831556083552097" style="color:#3B5998; opacity:0.8; text-shadow:-1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff;"><i class="fa fa-facebook fa-fw fa-5x" style="color:#3B5998;"></i></a>
                        </li>
                        <li><a href="http://i.instagram.com/besockcessful/" style="color:#c08d64; opacity:0.8;"><i class="fa fa-instagram fa-fw fa-5x" style="text-shadow:-1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff;"></i></a>
                        </li>
                       <!--  <li><a href="#"><i class="fa fa-linkedin fa-fw fa-2x"></i></a>
                        </li> -->
                    </ul>
                </div>
            </div>
            <div class="row copyright">
                <div class="col-lg-12">
                    <p class="small">&copy; 2014 GAAW</p>
                </div>
            </div>
        </div>
    </footer>                         
                
{% endblock %}

