{% extends "base.html" %}
{% load staticfiles %}


{% block title %}{{ title }}{% endblock %}


{% block nav %}
    <!-- Navigation -->
    <!-- Note: navbar-default and navbar-inverse are both supported with this theme. -->
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-expanded">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">
                    <img src="{% static "assets/img/logo/socklogosmall.png" %}" class="img-responsive" alt="">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    
                    <li>
                        <a href="#socks">The Socks</a>
                    </li>
                    
                       <li>
                        <a href="#team">The Team</a>
                    </li>
                 
                 <li>
                        <a href="#pricing">The Price</a>
                    </li>
                 <!--
                 <li>
                        <a href="#faq">FAQ</a>
                    </li>
                    -->
                    <li>
                        <a href="/signin">Sign In</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

{% endblock %}

{% block intro %}

    <!-- Instructions: Set your background image using the URL below. -->
    <header class="video">
        <div class="overlay"></div>
        <div class="intro-content">
            <!--<img src="{% static "assets/img/landing_image.jpg" %}" class="img-responsive img-centered" alt="">-->
            <div class="brand-name">SockCess</div>
            <div class="brand-name-subtext">Monthly Sock Subscriptions</div>
            <hr class="colored">
             <br />
            
            <a href="#contact" class="btn btn-outline-light" style="border-bottom-color:#fff;">SIGN UP NOW</a>
            
        </div>
        <div class="scroll-down page-scroll">
            <a class="btn" href="#socks"><i class="fa fa-angle-down"></i></a>
        </div>
    </header>

{% endblock %}


{% block about %}
                
    <section id="about">
        <div class="container-fluid">
                
            <div class="row text-center">
                <div class="col-lg-12 wow fadeIn">
                    <h1>About Us</h1>
                    <p>Everything You Need To Know.</p>
                    <hr class="colored">
                </div>
            </div>
            
            <div class="row text-center content-row">
                <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay=".2s">
                    <div class="about-content">
                        <a href="#team">
                        <img src="{% static "assets/img/team/myass.jpg" %}" style="border-radius: 100%; height:200px; width:200px;">
                        <h3>The Team</h3>
                        <p> <i class="fa fa-heart fa-4x"></i></p></a>
                    </div>
                </div>
                
                <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay=".4s">
                    <div class="about-content">
                        <a href="#process">
                        <img src="{% static "assets/img/team/myass.jpg" %}" style="border-radius: 100%; height:200px; width:200px;">
                        <h3>The Process</h3>
                        <p><i class="fa fa-tags fa-4x"></i></p></a>
                    </div>
                </div>
                
                <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay=".6s">
                    <div class="about-content">
                             <a href="#socks">
                        <img src="{% static "assets/img/team/myass.jpg" %}" style="border-radius: 100%; height:200px; width:200px;">
                        <h3>The Socks</h3>
                        <p><i class="fa fa-thumbs-o-up fa-4x"></i></p></a>
                    </div>
                </div>
                
                <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay=".8s">
                    <div class="about-content">
                         <a href="#faq">
                        <img src="{% static "assets/img/team/myass.jpg" %}" style="border-radius: 100%; height:200px; width:200px;">
                        <h3>FAQ</h3>
                        <p><i class="fa fa-money  fa-4x"></i></p></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}


{% block filler %}

    <aside class="cta-quote" style="background-image: url('static/assets/img/OSCAR.jpg');">
        <div class="container wow fadeIn">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <span class="quote"> The only thing worse than having socks, is not having socks - Oscar Wilde </span>
                    <hr class=" colored">
                    <a href="#contact" class="btn btn-outline-light">SIGN UP NOW</a>
                </div>
            </div>
        </div>
    </aside>

{% endblock %}




{% block team %}

    <section id="team" class="bg-gray">
        <div class="container text-center wow fadeIn">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Our Team</h2>
                    <p>This is us</p>
                    <hr class="colored">
                </div>
            </div>
            <div class="row content-row">
                <div class="col-lg-12">
                    <div class="about-carousel">
                        <div class="item">
                            <img src="{% static "assets/img/team/Mo.jpg" %}" class="img-responsive" alt="" style="border-radius: 5px;">
                            <div class="caption">
                                <h3>Mo Abdo</h3>
                                <hr class="colored">
                                <p>Director of Marketing and Social Media</p>
                                <ul class="list-inline social">
                                    <li>
                                        <a href="#"><i class="fa fa-facebook fa-fw"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-twitter fa-fw"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-linkedin fa-fw"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="item">
                            <img src="{% static "assets/img/team/Donal.jpg" %}" class="img-responsive" alt="" style="border-radius: 5px;">
                            <div class="caption">
                                <h3>Donal O'sullivan</h3>
                                <hr class="colored">
                                <p>Creative Director</p>
                                <ul class="list-inline social">
                                    <li>
                                        <a href="#"><i class="fa fa-facebook fa-fw"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-twitter fa-fw"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-linkedin fa-fw"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="item">
                            <img src="{% static "assets/img/team/myass.jpg" %}" class="img-responsive" alt="" style="border-radius: 5px;">
                            <div class="caption">
                                <h3>Tali Oppenheimer</h3>
                                <hr class="colored">
                                <p>Developer</p>
                                <ul class="list-inline social">
                                    <li>
                                        <a href="#"><i class="fa fa-facebook fa-fw"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-twitter fa-fw"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-linkedin fa-fw"></i></a>
                                    </li>
                                    
                                </ul>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
                
            </div>
            
        </div>
        <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <br />
                    <br />
                   
                    <a href="#contact" class="btn btn-outline-dark" >SIGN UP NOW</a>
                </div>
            </div>
       
    </section>

{% endblock %}

{% block process %}

    <section id="process" class="services" >
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12 wow fadeIn">
                    <h2>How It Works</h2>
                    <hr class="colored">
                    <p>This is how you're getting your socks from now on.</p>
                </div>
            </div>
            <div class="row content-row">
                <div class="col-md-4 wow fadeIn" data-wow-delay=".2s">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-check-square-o"></i>
                        </div>
                        <div class="media-body">
                        <h3 class="media-heading">Choose</h3>
                            <ul>
                                <li>2 monthly styles to choose from</li>
                                <li>Change styles whenever you like</li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 wow fadeIn" data-wow-delay=".4s">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-truck"></i>
                        </div>
                        <div class="media-body">
                          <h3 class="media-heading">Recieve</h3>
                            <ul>
                                <li>Recieve your socks every month</li>
                                <li>Hassle free</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 wow fadeIn" data-wow-delay=".6s">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-smile-o"></i>
                        </div>
                        <div class="media-body">
                           <h3 class="media-heading">Enjoy</h3>
                            <ul>
                                <li>Your feet will love you</li>
                                <li>Other people will love your feet</li>
                                <li>Seriously</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="col-md-12">
                <div class="col-md-4 col-md-offset-4 text-center">
       
        </div>
        </div>
        
    </section>
    <a href="#contact" class="btn btn-block btn-full-width">Sign Up Now!</a>
{% endblock %}




{% block filler2 %}

    <aside class="cta-quote" style="background-image: url('static/assets/img/aside.jpg');">
        <div class="container wow fadeIn">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <span class="quote">"You need new socks." - Cary Grant</span>
                    <hr class=" colored">
                    <a href="#contact" class="btn btn-outline-dark">SIGN UP NOW</a>
                </div>
            </div>
        </div>
    </aside>

{% endblock %}






{% block socks %}

    <section id="socks">
        <div class="container text-center wow fadeIn">
            <h2>The Socks</h2>
            <hr class="colored">
            <p>Be bold. Be SockCessful</p>


            <div class="row">
                <div class="col-lg-12">
                    <div id="portfoliolist">

                        <div class="portfolio identity" data-cat="business" href="#portfolioModal1" data-toggle="modal">
                            <div class="portfolio-wrapper">
                                <img src="{% static "assets/img/OnePhoto/DSC01340.jpg" %}" alt="">
                                <div class="caption">
                                    <div class="caption-text">
                                        <a class="text-title">Business</a>
                                        <span class="text-category">Kick your feet up at the office</span>
                                    </div>
                                    <div class="caption-bg"></div>
                                </div>
                            </div>
                        </div>

                        <div class="portfolio web" data-cat="pleasure" href="#portfolioModal2" data-toggle="modal">
                            <div class="portfolio-wrapper">
                                <img src="{% static "assets/img/OnePhoto/DSC01299.jpg" %}" alt="">
                                <div class="caption">
                                    <div class="caption-text">
                                        <a class="text-title">Pleasure</a>
                                        <span class="text-category">You'll want to kiss yourself for being so pretty</span>
                                    </div>
                                    <div class="caption-bg"></div>
                                </div>
                            </div>
                        </div>

                        <div class="portfolio graphic" data-cat="business" href="#portfolioModal3" data-toggle="modal">
                            <div class="portfolio-wrapper">
                                <img src="{% static "assets/img/twophoto/DSC01434.jpg" %}" alt="">
                                <div class="caption">
                                    <div class="caption-text">
                                        <a class="text-title">Business</a>
                                        <span class="text-category">You're still the man outside the office, even though you're freezing cold</span>
                                    </div>
                                    <div class="caption-bg"></div>
                                </div>
                            </div>
                        </div>

                        <div class="portfolio web" data-cat="pleasure" href="#portfolioModal4" data-toggle="modal">
                            <div class="portfolio-wrapper">
                                <img src="{% static "assets/img/twophoto/DSC01419.jpg" %}" alt="">
                                <div class="caption">
                                    <div class="caption-text">
                                        <a class="text-title">Pleasure</a>
                                        <span class="text-category">These socks like to please</span>
                                    </div>
                                    <div class="caption-bg"></div>
                                </div>
                            </div>
                        </div>

                        <div class="portfolio graphic" data-cat="business" href="#portfolioModal1" data-toggle="modal">
                            <div class="portfolio-wrapper">
                                <img src="{% static "assets/img/OnePhoto/DSC01351.jpg" %}" alt="">
                                <div class="caption">
                                    <div class="caption-text">
                                        <a class="text-title">Business</a>
                                        <span class="text-category">Greed is good, especially when it comes to your toes</span>
                                    </div>
                                    <div class="caption-bg"></div>
                                </div>
                            </div>
                        </div>

                        <div class="portfolio web" data-cat="pleasure" href="#portfolioModal2" data-toggle="modal">
                            <div class="portfolio-wrapper">
                                <img src="{% static "assets/img/OnePhoto/DSC01314.jpg" %}" alt="">
                                <div class="caption">
                                    <div class="caption-text">
                                        <a class="text-title">Pleasure</a>
                                        <span class="text-category">Try not to eat them</span>
                                    </div>
                                    <div class="caption-bg"></div>
                                </div>
                            </div>
                        </div>

                        <div class="portfolio graphic" data-cat="business" href="#portfolioModal3" data-toggle="modal">
                            <div class="portfolio-wrapper">
                                <img src="{% static "assets/img/twophoto/DSC01402.jpg" %}" alt="">
                                <div class="caption">
                                    <div class="caption-text">
                                        <a class="text-title">Business</a>
                                        <span class="text-category">Be comfortable while you spit ruthless synergistic business-speak</span>
                                    </div>
                                    <div class="caption-bg"></div>
                                </div>
                            </div>
                        </div>

                        <div class="portfolio graphic" data-cat="pleasure" href="#portfolioModal4" data-toggle="modal">
                            <div class="portfolio-wrapper">
                                <img src="{% static "assets/img/OnePhoto/DSC01305.jpg" %}" alt="">
                                <div class="caption">
                                    <div class="caption-text">
                                        <a class="text-title">Pleasure</a>
                                        <span class="text-category">What do you get for 10$? Everyting you waaant</span>
                                    </div>
                                    <div class="caption-bg"></div>
                                </div>
                            </div>
                        </div>

                        <div class="portfolio identity" data-cat="business" href="#portfolioModal1" data-toggle="modal">
                            <div class="portfolio-wrapper">
                                <img src="{% static "assets/img/OnePhoto/DSC01352-2.jpg" %}" alt="">
                                <div class="caption">
                                    <div class="caption-text">
                                        <a class="text-title">Business</a>
                                        <span class="text-category">Your feet will be comfortable while you climb that ladder</span>
                                    </div>
                                    <div class="caption-bg"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <a href="#contact" class="btn btn-block btn-full-width">Sign Up Now!</a>
    </section>
    
{% endblock %}



{% block press %}
                
                
    <section class="testimonials bg-gray">
        <div class="container wow fadeIn">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="testimonials-carousel">
                        <div class="item">
                            <div class="row">
                                <div class="col-lg-12">
                                    <p class="lead">"Working with SockCess was both a valuable and rewarding experience. My feet have never been happier"</p>
                                    <hr class="colored">
                                    <p class="quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, temporibus, laborum, dignissimos doloremque corporis alias nostrum recusandae culpa id quisquam harum impedit sed sunt non obcaecati vero ipsam aut fugit?</p>
                                    <div class="testimonial-info">
                                        <div class="testimonial-img">
                                            <img src="assets/img/testimonials/1.jpg" class="img-circle img-responsive" alt="">
                                        </div>
                                        <div class="testimonial-author">
                                            <span class="name">Jim Walker</span>
                                            <p class="small">Ex barefoot hippie</p>
                                            <div class="stars">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-lg-12">
                                    <p class="lead">"Wherever I go, people complement me on my feet."</p>
                                    <hr class="colored">
                                    <p class="quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, temporibus, laborum, dignissimos doloremque corporis alias nostrum recusandae culpa id quisquam harum impedit sed sunt non obcaecati vero ipsam aut fugit?</p>
                                    <div class="testimonial-info">
                                        <div class="testimonial-img">
                                            <img src="assets/img/testimonials/1.jpg" class="img-circle img-responsive" alt="">
                                        </div>
                                        <div class="testimonial-author">
                                            <span class="name">Jim Walker</span>
                                            <p class="small">sock lover</p>
                                            <div class="stars">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}


{% block pricing %}

    <section id="pricing" class="pricing" style="background-image: url('static/assets/img/twophoto/greenaction.jpg')">
        <div class="container wow fadeIn">
            <div class="row text-center">
                <div class="col-lg-12">
                    <h2>Pricing</h2>
                    <hr class="colored">
                    <p></p>
                </div>
            </div>
            
           
           
                
                <div class="col-md-4 col-md-offset-4">
                    <div class="pricing-item featured-last">
                        <h3>Subscribe</h3>
                        <hr class="colored">
                        <div class="price"><span class="number"><sup>$</sup>9.99</span> / month</div>
                        <ul class="list-group">
                            <li class="list-group-item">Free Shipping Forever</li>
                            <li class="list-group-item">One Awesome Pair of Socks Per Month</li>
                            <li class="list-group-item">Cancel At Anytime</li>
                            <li class="list-group-item">Improved Quality of Life</li>
                        </ul>
                        <a href="#" class="btn btn-outline-dark">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}



{% block faq %}

<section id="faq">
                <div class="container wow fadeIn">
                <div class="row">
                <div class="col-lg-12 text-center">
                      <h1>FAQ</h1>
                      <hr class="colored">
                </div>
                </div>
                
                <div class="row text-center content-row">
                <div class="col-md-4 col-sm-6">
                                <h4>When Will I Get My Socks?</h4>
                                <p>   </p>
                </div>
                <div class="col-md-4 col-sm-6">
                                <h4>Do I Get To Pick My Own Socks?</h4>
                                 <p>We answer the question here.</p>
                </div>
                <div class="col-md-4 col-sm-6">
                                <h4>What If They Don't Fit?</h4>
                                 <p>We answer the question here.</p>
                </div>
               
                </div>
                
                 <div class="row text-center content-row">
                <div class="col-md-4 col-sm-6">
                                <h4>When Will I Get My Socks?</h4>
                                 <p>We answer the question here.</p>
                </div>
                <div class="col-md-4 col-sm-6">
                                <h4>Do I Get To Pick My Own Socks?</h4>
                                 <p>We answer the question here.</p>
                </div>
                <div class="col-md-4 col-sm-6">
                                <h4>What If They Don't Fit?</h4>
                                 <p>We answer the question here.</p>
                </div>
               
                </div>
                
                
                
                
                </div>
                <a href="#contact" class="btn btn-block btn-full-width">Sign Up Now!</a>
</section>


{% endblock %}


{% block signup %}

    <section id="contact">
        <div class="container wow fadeIn">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sign Up</h2>
                    <hr class="colored">
                    <p>DO IT</p>
                </div>
            </div>
         
            <div class="row content-row">
                <div class="col-lg-8 col-lg-offset-2">
                    <form name="sentMessage" id="contactForm" method="POST"> {% csrf_token %}
                        <div class="row control-group">

                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Email Address</label>
                                {{ form.email }}
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>

                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Password</label>
                                {{ form.password }}
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Re-Enter Password</label>
                                {{ form.verify_password }}
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-outline-dark">Sign Me Up</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


  

{% block footer %}
                
 <footer class="footer" style="background-image: url('static/assets/img/bg-footer.jpg')">
        <div class="container text-center">
            <div class="row">
                
                <div class="col-md-6 contact-details">
                    <h4><i class="fa fa-map-marker"></i> Address</h4>
                    <p>Team Sockcess, 30 Clay St, Cambridge, MA, 02140</p>
                </div> 
                <div class="col-md-4 contact-details">
                    <h4><i class="fa fa-envelope"></i> Email</h4>
                    <p><a href="mailto:ass@aol.com">info@besockcessful.com</a>
                    </p>
                </div>
            </div>
            <div class="row social">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-facebook fa-fw fa-5x"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter fa-fw fa-5x"></i></a>
                        </li>
                       <!--  <li><a href="#"><i class="fa fa-linkedin fa-fw fa-2x"></i></a>
                        </li> -->
                    </ul>
                </div>
            </div>
            <div class="row copyright">
                <div class="col-lg-12">
                    <p class="small">&copy; 2014 GAAW</p>
                </div>
            </div>
        </div>
    </footer>                         
                
{% endblock %}

    <!-- Portfolio Modals -->

    <!-- Example Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true" style="background-image: url('assets/img/portfolio/bg-1.jpg')">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <img src="assets/img/client-logos/logo-1.png" class="img-responsive img-centered" alt="">
                            <h2>Project Title</h2>
                            <hr class="colored">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos modi in tenetur vero voluptatum sapiente dolores eligendi nemo iste ea. Omnis, odio enim sint quam dolorum dolorem. Nostrum, minus, ad.</p>
                        </div>
                        <div class="col-lg-12">
                            <img src="assets/img/portfolio/mobile-screens.png" class="img-responsive img-centered" alt="">
                        </div>
                        <div class="col-lg-8 col-lg-offset-2">
                            <ul class="list-inline item-details">
                                <li>Client: <strong><a href="http://startbootstrap.com">Start Bootstrap</a></strong>
                                </li>
                                <li>Date: <strong><a href="http://startbootstrap.com">April 2014</a></strong>
                                </li>
                                <li>Service: <strong><a href="http://startbootstrap.com">Web Development</a></strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Example Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true" style="background-image: url('assets/img/portfolio/bg-2.jpg')">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <img src="assets/img/client-logos/logo-2.png" class="img-responsive img-centered" alt="">
                            <h2>Project Title</h2>
                            <hr class="colored">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos modi in tenetur vero voluptatum sapiente dolores eligendi nemo iste ea. Omnis, odio enim sint quam dolorum dolorem. Nostrum, minus, ad.</p>
                        </div>
                        <div class="col-lg-12">
                            <img src="assets/img/portfolio/tablet-screens.png" class="img-responsive img-centered" alt="">
                        </div>
                        <div class="col-lg-8 col-lg-offset-2">
                            <ul class="list-inline item-details">
                                <li>Client: <strong><a href="http://startbootstrap.com">Start Bootstrap</a></strong>
                                </li>
                                <li>Date: <strong><a href="http://startbootstrap.com">April 2014</a></strong>
                                </li>
                                <li>Service: <strong><a href="http://startbootstrap.com">Web Development</a></strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Example Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true" style="background-image: url('assets/img/portfolio/bg-3.jpg')">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <img src="assets/img/client-logos/logo-1.png" class="img-responsive img-centered" alt="">
                            <h2>Project Title</h2>
                            <hr class="colored">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos modi in tenetur vero voluptatum sapiente dolores eligendi nemo iste ea. Omnis, odio enim sint quam dolorum dolorem. Nostrum, minus, ad.</p>
                        </div>
                        <div class="col-lg-12">
                            <img src="assets/img/portfolio/mobile-screens.png" class="img-responsive img-centered" alt="">
                        </div>
                        <div class="col-lg-8 col-lg-offset-2">
                            <ul class="list-inline item-details">
                                <li>Client: <strong><a href="http://startbootstrap.com">Start Bootstrap</a></strong>
                                </li>
                                <li>Date: <strong><a href="http://startbootstrap.com">April 2014</a></strong>
                                </li>
                                <li>Service: <strong><a href="http://startbootstrap.com">Web Development</a></strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Example Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true" style="background-image: url('assets/img/portfolio/bg-4.jpg')">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <img src="assets/img/client-logos/logo-2.png" class="img-responsive img-centered" alt="">
                            <h2>Project Title</h2>
                            <hr class="colored">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos modi in tenetur vero voluptatum sapiente dolores eligendi nemo iste ea. Omnis, odio enim sint quam dolorum dolorem. Nostrum, minus, ad.</p>
                        </div>
                        <div class="col-lg-12">
                            <img src="assets/img/portfolio/tablet-screens.png" class="img-responsive img-centered" alt="">
                        </div>
                        <div class="col-lg-8 col-lg-offset-2">
                            <ul class="list-inline item-details">
                                <li>Client: <strong><a href="http://startbootstrap.com">Start Bootstrap</a></strong>
                                </li>
                                <li>Date: <strong><a href="http://startbootstrap.com">April 2014</a></strong>
                                </li>
                                <li>Service: <strong><a href="http://startbootstrap.com">Web Development</a></strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Style Switcher - FOR DEMO PURPOSES ONLY -->
    <div id="style-switcher" class="close-style-switcher animated bounce">
        <!--Panel Button -->
        <a class="panel-button"><i class="fa fa-gear fa-spin"></i></a>
        <!-- Colors -->
        <div class="segment">
            <h4>Theme Colors</h4>
            <a title="vitality-red" class="switcher red-bg"></a>
            <a title="vitality-orange" class="switcher orange-bg"></a>
            <a title="vitality-yellow" class="switcher yellow-bg"></a>
            <a title="vitality-green" class="switcher green-bg"></a>
            <a title="vitality-turquoise" class="switcher turquoise-bg"></a>
            <a title="vitality-aqua" class="switcher aqua-bg"></a>
            <a title="vitality-blue" class="switcher blue-bg"></a>
            <a title="vitality-purple" class="switcher purple-bg"></a>
            <a title="vitality-pink" class="switcher pink-bg"></a>
            <a title="vitality-tan" class="switcher tan-bg"></a>
        </div>
        <div class="segment">
            <h4>Samples</h4>
            <ul class="list-unstyled">
                <li><a href="agency.html">Agency</a>
                </li>
                <li><a href="creative.html">Creative <strong><small>(NEW)</small></strong></a>
                </li>
                <li><a href="culinary.html">Culinary</a>
                </li>
                <li><a href="fashion.html">Fashion</a>
                </li>
                <li><a href="legal.html">Legal</a>
                </li>
                <li><a href="video.html">Video</a>
                </li>
            </ul>
        </div>
        <div class="segment">
            <a href="index.html">
                <small>Back to Preview Page</small>
            </a>
        </div>
    </div>
    <!-- End Style Switcher -->
