
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>




    <link href='http://fonts.googleapis.com/css?family=Cardo:700' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.ico">

    <title>Word</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "assets/css/bootstrap/custom_bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "assets/css/bootstrap/carousel.css" %}" rel="stylesheet">
    <link href="{% static "assets/css/bootstrap/custom_carousel.css" %}" rel="stylesheet">
    <link href="{% static "assets/css/bootstrap/custom.css" %}" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    
    <link href='http://fonts.googleapis.com/css?family=Cardo:400,400italic,700' rel='stylesheet' type='text/css'>
  </head>

<body>

    <!-- Carousel
    ================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">
        <div class="item bg bg1 active">
          <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
            <div class="container">
                <div class="carousel-caption">
                    <style type="text/css"> p {font-family: Cardo;} </style>
                    <p style="text-align:center;">Begin by selecting one of two styles. You can change styles every month, or select a surprise pair!</p>
                    
                </div>






            </div>

        </div>

<div class="item bg bg2">
<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
<div class="container">
<div class="carousel-caption">
    <style type="text/css"> p {font-family: Cardo;} </style>
<p style="text-align:center;">Get your sweet ass ready because your socks will arrive hassle free at your doorstep every month!</p>
</div>
</div>
</div>
<div class="item bg bg3">
<a class="right carousel-control" href="/shippinginfo" data-slide="next">&rsaquo;</a>
<div class="container">
<div class="carousel-caption">
    <style type="text/css"> p {font-family: Cardo;} </style>
<p style="text-align:center;">Login from your computer or mobile device whenever you like to see updates on the socks coming your way, or to change account information.</p>
</div>
</div>
</div>
</div>
<!--<a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>-->

</div>
<!-- shippinginfo replaced #myCarousel  -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static "assets/js/bootstrap/bootstrap.js" %}"></script>
    <script src="docs.js"></script>

     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.7.2.min.js"><\/script>')</script>
    <!-- Bootstrap jQuery plugins compiled and minified -->
    <script src="{% static "assets/js/bootstrap/bootstrap.min.js"></script>
    <script>
      $(document).ready(function(){
        $('.carousel').carousel({
          interval: 9999999999
        });
      });
    </script>
  </body>
</html>